.task{  
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}
.task button{
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.task__title--completed{
  text-decoration:line-through; 
  color: rgb(145, 251, 175) !important;
}

.task__completed{
  color: rgb(145, 251, 175) !important;

}
.task-active{
  color: white; 
}
.task__visible-actions{
  display: flex;
  width:90%
}
.task__check{
  margin-right: 1em;
}
.task__title{
  color: white;
  background: transparent;   
  border: none;
  outline: none;
  width:100%; 
}
.task__delete svg{
  color:rgb(255, 103, 101) ;
}